/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Sep 2020, 1:04:15 pm
    Author     : sheng
*/



main h2 {
    text-decoration: underline
}


form label {
    font-weight:bold
}

main h1{
    text-align: center;
}